#mainContainer {
    background-color: #f3e09a;

}

#headerContainer {
    display: flex;
    align-items: center;
    background-color: #fc4d16;
    flex-direction: column;
}

hr {
    border-width: 1px;
    border-color: black;
}

#resultContainer {
    display: flex;
    width: 80%;
    justify-content: center;
    line-height: 25px;
}

#title {
    width: 14%;
}

#description {
    color: #fb553d;
    font-weight: bold;
}

#marksContainer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#result {
    width: 56%;
    font-weight: bold;
}

#result,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.marks {
    text-align: center;
}

th {
    background-color: blue;
    text-align: center;
    color: white;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: white;
}

.red {
    color: #fb553d;
}